[submodule "submodulos/CSSEGISandData"]
	path = submodulos/CSSEGISandData
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "submodulos/OWiD"]
	path = submodulos/OWiD
	url = https://github.com/owid/covid-19-data.git
